{% extends 'base.html' %}
{% block username %}
{{ username }}
{% endblock %}

{% block title %}
{{ page_name|title }}
{% endblock %}

{% block header %}
{{ page_name|upper }}
{% endblock %}

{% block main %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const productDropdown = document.getElementById('product_id');
        const cartonsCount = document.getElementById('quantity_sold_cartons');
        const sellingPriceInput = document.getElementById('selling_price_per_carton');
        const sales_total = document.getElementById('sale_total');

        productDropdown.addEventListener('change', function () {
            const selectedOption = productDropdown.options[productDropdown.selectedIndex];
            const pricePerCarton = selectedOption.getAttribute('data-price');
            const quantity = parseInt(cartonsCount.value);
            sellingPriceInput.value = pricePerCarton;
            if (!isNaN(pricePerCarton) && !isNaN(quantity)) {
                sales_total.value = (pricePerCarton * quantity).toFixed(2);
            }
        });

        cartonsCount.addEventListener('input', function () {
            const selectedOption = productDropdown.options[productDropdown.selectedIndex];
            const pricePerCarton = sellingPriceInput.value;
            const quantity = parseInt(cartonsCount.value);
            if (!isNaN(pricePerCarton) && !isNaN(quantity)) {
                sales_total.value = (pricePerCarton * quantity).toFixed(2);
            }
        });


        sellingPriceInput.addEventListener('input', function () {

            const selectedOption = productDropdown.options[productDropdown.selectedIndex];
            const pricePerCarton = sellingPriceInput.value;
            const quantity = parseInt(cartonsCount.value);
            if (!isNaN(pricePerCarton) && !isNaN(quantity)) {
                sales_total.value = (pricePerCarton * quantity).toFixed(2);
            }
            else {
                console.log("There is an error");
            }
        })


    });
</script>

<div class="form-container">
    <form onsubmit="addSales(event,'{{ session_id }}')" method="post">

        <div class="form-group">
            <div class="combination">
                <label for="product">Product:</label>
                <select class="input-box" id="product_id" name="product_id" required>
                    <option selected disabled>Select</option>
                    {% for product in products %}
                    <option value="{{product.product_id}}" data-price="{{product.selling_price_carton}}">{{
                        product.product_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="combination">
                <label for="client">Customer:</label>
                <select class="input-box" id="client_id" name="client_id" required>
                    <option selected disabled>Select</option>
                    {% for client in clients %}
                    <option value="{{client.client_id}}">{{
                        client.client_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="combination">
                <label for="quantity_sold_cartons">Quantity Sold (Cartons):</label>
                <input type="number" class="input-box" id="quantity_sold_cartons" name="quantity_sold_cartons" value="1"
                    min="1">
            </div>

            <div class="combination">
                <label for="selling_price_per_carton">Selling Price per Carton:</label>
                <input type="number" class="input-box" id="selling_price_per_carton" name="selling_price_per_carton"
                    min="1">
            </div>
        </div>

        <div class="form-group">
            <div class="combination">
                <label for="sale_date">Date:</label>
                <input type="date" class="input-box" id="sale_date" name="sale_date" required>
            </div>

            <div class="combination">
                <label for="sale_total">Total Amount:</label>
                <input type="number" class="input-box" id="sale_total" name="sale_total" required>
            </div>

        </div>

        <div class="form-group">
            <div class="combination">
                <button type="submit">Add Sale</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}