{% extends 'base.html' %}
{% block username %}
{{username}}
{% endblock %}

{% block title %}
{{page_name|title}}
{% endblock %}




{% block header %} {{page_name|upper}} {% endblock %}

{% block quickbutton %} <button onclick="gotoAddClient('{{session_id}}')" class="quickbutton">+ Add Client</button>{%
endblock %}


{% block main_cards %}

{% for client in clients %}


<div class="card">
    <div class="action-panel"><span onclick="editClient('{{client.client_id}}','{{session_id}}')"
            class="edit-icon-item"></span>
        <span onclick="deleteClient('{{client.client_id}}','{{session_id}}')" class="delete-icon-item"></span>
    </div>

    <h2> {{ client.client_name }}</h2>
    <p><strong>Contact:</strong> {{ client.contact }}</p>
    <p><strong>Since:</strong> {{ client.client_since }}</p>
    <p><strong>Address:</strong> {{ client.address }}</p>


</div>


{% endfor %}
{% endblock %}