<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body id="login-body">
    <center>
        <div id="login-container">
            <h2>Login</h2>
            <form action="/login" method="post">
                <input type="text" id="username" name="username" placeholder="Enter Username" required>
                <input type="password" id="password" name="password" placeholder="Enter Password" required>
                <button type="submit" id="login-button">Login</button>
            </form><br>
            <a href="/register">Don't have account?</a>
        </div><br />
        <div style="color: red;background-color: bisque; padding: 10px;border-radius: 2px;">{{message}}</div>
    </center>

</body>

</html>